<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>QuickNews</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .card-header {
                background-color: #185f7d;
            }
            .title {
                line-height: normal;
            }
            .title > a  {
                color: white;
            }
            li {
                font-weight: bold;
                font-size:large;
            }
            .desc {
                font-weight: bold;
                font-size: larger;
            }
            .badge {
                font-size: medium;
            }
            .jumbotron {
                border-radius: 0;
                margin-bottom: 0
            }
            .nav-link {
                font-size: larger;
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron" style="background-color: #185f7d;">
            <div class="container">
                <h1 class="text-white">QuickNews</h1>
                <p class="text-white desc"> <em>Catch up on the latest Tech, Finance, and Strategy news from Business Insider!</em></p>
            </div>
        </div>
        <div>
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item badge-primary"><a class="nav-link">All</a></li>
                <li class="nav-item badge-success"><a class="nav-link">Technology</a></li>
                <li class="nav-item badge-danger"><a class="nav-link">Finance</a></li>
                <li class="nav-item badge-info"><a class="nav-link">Strategy</a></li>
                <li class="nav-item badge-secondary"><a class="nav-link">Politics</a></li>
            </ul>
        </div>
        <div class="container-fluid p-3">
            <div class="row">
                {% for article in news %}
                <div class="col-md-6 col-lg-4 {{ article.tag }}">
                    <div class="card" style="margin-top:10px;">
                        <div class="card-header border-white">
                            <h4  class="title"><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h4>
                        </div>
                        <div class="card-body">
                            <ul class="card-text">
                                {% if "Click above" not in article.bullets %}
                                    {% for bullet in article.bullets.split("*") %}
                                        <li> {{ bullet }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li> Click above to learn more</li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="card-footer text-right">
                            {% if "Technology" in article.tag %}
                                <span class="badge badge-success"> <strong> {{ article.tag }} </strong></span>
                            {% elif "Finance" in article.tag %}
                                <span class="badge badge-danger"> <strong> {{ article.tag }} </strong></span>
                            {% elif "Strategy" in article.tag %}
                                <span class="badge badge-info"> <strong> {{ article.tag }} </strong></span>
                            {% elif "Politics" in article.tag %}
                                <span class="badge badge-secondary"> <strong> {{ article.tag }} </strong></span>
                            {% endif %}
                            <span class="badge badge-warning"> <strong> {{ article.date }} </strong></span>
                        </div>
                    </div>
                </div>
            
                {% endfor %}
            </div>
        </div>

        <footer  style=" left: 0; bottom: 0; width: 100%;  background-color: #185f7d; color: white; text-align: center;">
            <p style="margin:0;">This is a personal project made for fun. All Respective icons and service(s) belong to Respective owners.</p>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            $(".nav-item").click(function() {
                switch (this.classList[1]) {
                    case "badge-success":
                        //show only technology
                        $(".Technology").show()
                        $(".Finance").hide()
                        $(".Strategy").hide()
                        $(".Politics").hide()
                        break;
                    case "badge-danger":
                        //show only finance
                        $(".Technology").hide()
                        $(".Finance").show()
                        $(".Strategy").hide()
                        $(".Politics").hide()
                        break;
                    case "badge-info":
                        //show only strategy
                        $(".Technology").hide()
                        $(".Finance").hide()
                        $(".Strategy").show()
                        $(".Politics").hide()
                        break;
                    case "badge-secondary":
                        //show only politics
                        $(".Technology").hide()
                        $(".Finance").hide()
                        $(".Strategy").hide()
                        $(".Politics").show()
                        break;
                    default:
                        //show all
                        $(".Technology").show()
                        $(".Finance").show()
                        $(".Strategy").show()
                        $(".Politics").show()
                }
            })
        </script>
    </body>
</html>
